@import url('./css/reset.css');

:root {
  --clr-neutral-100: #fff;
  --clr-neutral-300: #c8cbce;
  --clr-neutral-400: #6b747b;
  --clr-neutral-500: #7a848d;
  --clr-neutral-900: #333;
  --clr-accent-100: #f4f9ff;
  --clr-accent-200: #eef4fd;
  --clr-accent-300: #3e88eb;
  --clr-accent-400: #0055eb;

  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-secondary);

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --fs-200: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-525: 1.25rem;
  --fs-550: 1.5rem;
  --fs-575: 2rem;
  --fs-600: 2.1875rem;
  --fs-650: 2.8125rem;
  --fs-675: 3.3125rem;
  --fs-700: 3.75rem;
  --fs-800: 4.4375rem;
}

/* GENERAL STYLING*/
body {
  font-size: var(--fs-400);
  font-family: var(--ff-body);
  color: var(--clr-neutral-400);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-primary);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
}

h6 {
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
  font-family: var(--ff-body);
  color: var(--clr-neutral-500);
}

h2 {
  font-size: var(--fs-575);
  margin-bottom: 0.4rem;
  text-align: center;
}

hr {
  background-color: var(--clr-neutral-300);
  height: 1px;
  border: 0;
}

/* UTILITY CLASSES */

.container {
  width: 100%;
  padding-inline: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding-inline: 5rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1200px) {
  nav .container {
    max-width: 140rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}
